name: Deploy to staging
on:
  push:
    branches: [ main ]

jobs:
  redeploy_everything:
    runs-on: ubuntu-latest
    name: Deploying everything to the staging cluster
    steps:
      - run: |
          echo "${{ secrets.SSH_PRIVATE_KEY_DEVOPS }}" > ~/ssh_key
          mkdir -p /home/runner/.ssh
          chmod 700 /home/runner/.ssh
          chmod 600 ~/ssh_key
          ssh-keyscan -H 16.171.68.32 >> /home/runner/.ssh/known_hosts
          ssh -i ~/ssh_key -o StrictHostKeyChecking=no ubuntu@16.171.68.32 "cd CI-CD && git pull origin main && source ~/.nvm/nvm.sh && nvm install 22.13.1 && nvm use 22.13.1 && npm install -g pnpm pm2 && pnpm install && pnpm run build && pm2 restart FE && pm2 restart http && pm2 restart WS"
